@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap");

body {
  background: #fff;
  color: #000;
  text-align: center;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

/* Header */

.header {
  width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
  max-width: 1260px;
  margin: auto;
}

.header .left {
  width: 100%;
  text-align: left;
}

.header .left a {
  color: #000;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header .left a:hover {
  color: #fe4f70;
}

.header .center img {
  height: auto;
  max-width: 100%;
}

.header .center a {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
  text-decoration: none;
  line-height: 0.5;
}

.header .center a span {
  color: #e45229;
  font-size: 44px;
  margin-left: 5px;
}

.slogan {
  display: block !important;
  text-align: center !important;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}

.header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.right button {
  border-radius: 50%;
  padding: 10px 13px;
  font-size: 20px;
  background: linear-gradient(#fa7b93, #ff6600);
  border: none;
  color: #fff;
}

.right button:hover {
  background: linear-gradient(#ff6600, #ff6985);
  transition: color 0.5s ease;
}

/* Card */

.card-navlist{
  padding: 20px 0;
}

.card-navlist ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-navlist ul li {
  text-decoration: none;
  padding: 0 1.3px;
}

.card-navlist ul li a {
  color: #000;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  padding: 20px 0;
  margin: 0 40px;
  box-sizing: border-box;
}

.card-container{
  height: 356px;
  width: 320px;
  border-radius: 10px !important;
  border: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;

}

.card-bg{
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px !important;
}

.card-container:hover .card-bg{
  transform: scale(1.05);
}

.card-container .overlay{
  background-color: rgb(24, 39, 64, 0.6);
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.overlay-text{
  position: absolute;
  top: 70%;
  left: 50%;
  padding: 0 30px;
  text-align: center; 
  box-sizing: border-box;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100%;
}

.overlay-text a{
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 25px;
  font-size: 15px;
  padding: 6px 11px;
  background: linear-gradient(to right, #e45229 0%, #e99176 51%, #e45229 100%);
  background-size: 200% auto;
  line-height: 1;
  display: inline-block;
  text-align: center;
}

.overlay-text > h4 > a{
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  border: none;
  padding: 0;
  background: none;
  display: inline-block;
}

.overlay-text h4 a:hover{
  color: #ff6600;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid #ebebeb;
  font-size: 14px;
  background-color: #fff;
  flex-wrap: wrap;
  width: 100vw;
  margin: auto;
  max-width: 1260px;
}

.footer .center a {
  color: #000;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s;
  cursor: pointer;
}

.footer .center a:hover {
  color: #ff6600;
}

.footer .left,
.footer .right {
  color: #000;
  padding: 6px 20px;
  border: 1px solid #ebebeb;
  border-radius: 25px;
}

.footer .right a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.footer .right:hover{
  border: 1px solid #ff6600;
}

.footer .right a:hover{
  color: #ff6600;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}
